@import"_varibales";
@import"_header";
@import"_about";
@import"_howToBuy";
@import"_wallOfMemes";
@import"_footer";


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $primary-fonts;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}